{% extends "admin/wurfl/base.html" %}
{% load i18n %}

{% block content %}

{% if device %}
    <p>{% trans "Device" %}
        <ul>
            <li>{% trans "Matching User agent" %} : {{ device.user_agent }}</li>
            <li>{% trans "Device ID" %} : {{ device.id }}</li>
            <li>{% trans "Capabilities" %} :
                <ul>
                    {% for group, capabilities in device.capabilities.items %}
                        <li>{% trans "Group" %} {{ group }} :
                            <ul>
                                {% for name, value in capabilities.items %}
                                    <li>{{ name }} : {{value }}</li>
                                {% endfor %}
                            </ul>
                        </li>            
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </p>
{% else %}
    <p>{% trans "No device detected (did you forget to add `wurfl.context_processors.device` to your `TEMPLATE_CONTEXT_PROCESSORS` settings?)" %}</p>
{% endif %}

{% endblock %}